<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Node App with MongoDB in Docker containers</title>
</head>

<body>
  <h1>Node App with MongoDB in Docker containers</h1>
  <form method="post" action="/product/add">
    <label for="name">Input</label>
    <input type="text" name="name">
    <label for="description">description</label>
    <input type="text" name="description">
    <label for="price">Price</label>
    <input type="text" name="price">
    <input type="submit" value="Add">
  </form>
  <h4>Items:</h4>
  <ul>
    <% products.forEach(function(product) { %>
      <li>
        <%= product.name %> is very <%= product.description %> and the price for a cup is  $<%= product.price %>            
      </li>
      <% }); %>
  </ul>
</body>

</html>